<form {{action 'save' on='submit'}}>
  {{input placeholder='New Title' class='input-group form-control' value=schedule.title}}
  {{input placeholder='New Days' class='input-group form-control' value=schedule.day}}
  {{input placeholder='New Start' class='input-group form-control' value=schedule.start}}
  {{input placeholder='New End' class='input-group form-control' value=schedule.end}}
  <button type="submit" name="submit">Submit</button>
</form>
